
<section class="parallax-11">
  <ul class="rslides3">
      <li>
        <video id="video-elem" controls onclick poster"jcole">
               <source src="fonts/migo.mp4"></source>
          </video>
 <div class="img-title2">
   <h1 id="img-title8">Migos - Bad and Boujee ft Lil Uzi Vert</h1>
          <div class="imgbox">
            <!-- <h1 id="img-title8">Artest 1</h1>
            <h1 id="img-titlebio">Name</h1> -->
          <h1 id="img-titlebio">Rating:*****</h1>
          <!-- <h1 id="img-titlebio">County:</h1> -->
          <h1 id="img-titlebio">Bio:<span id="pgraph">It seems other rap artists are trying to follow a "tradition", or something... I don't consider us
             [Migos] as weirdos, we just went the other way and didn't follow the rap tradition. We just killed it and made it our tradition..</span></h1>
            <!-- <p  id="pgraph">Young Entrepreneur making his way to the top
            with ADONIS clothing line.Click to See his insperation behind the branding.</p> -->
          </div>
         </div>
        </li>

      <li>
        <video id="video-elem" controls onclick poster"jcole">
               <source src="fonts/ynf.mp4"></source>
          </video>
       <div class="img-title3">
          <div class="imgbox2">
              <h1 id="img-title7">YFN Lucci - Talk That Shit</h1>
              <div class="imgbox3">
<!--
                <h1 id="img-titlebio2">Name</h1> -->
              <h1 id="img-titlebio2">Rating:*****</h1>
              <!-- <h1 id="img-titlebio2">County:</h1> -->
              <h1 id="img-titlebio2">Bio:  <span id="pgraph1">Born and raised in Atlanta, Georgia, YFN Lucci grew up listening to the likes of Tupac,
                the Hot Boys, Ja Rule, Dipset, Lil’ Wayne and Fabolous. Motivated by his older brother and rapper “K,” YFN
                Lucci discovered his own musical talent at age 16 and started developing his clever pen game..</span></h1>

          </div>

        </div>

         </div>

<a href="#" class="rslides_nav rslides1_nav next">Next</a>
        </li>

  </ul>



      </section>
