
<section class="parallax-1">
        <div class="vote">
        </div>
      <div class="respect">
           <h2> The Come Up </h2>
      </div>
      <section class="par-one">
          <video id="video-elem" controls onclick poster"jcole">
               <source src="fonts/love.mp4"></source>
          </video>
          <div class="artname1">
          </div>
      </section>
      <section id="comp">
          <video id="video-elem" controls onclick poster"jcole">
               <source src="fonts/love.mp4"></source>
          </video>
          <div class="vote">
          </div>
          <div class="artname2">
          </div>
      </section>
      <div class="vote">
      </div>
</section>
