
<section class = "Spotlight">
  <div class="spotlight1">


</div>
  <h2>Local business</h2>
  <div class="business">

  </div>
<!-- <p>I'm happy to be on a winning team. My individual success, that lasts for a short period of time.
   The success of being a part of the South, of Atlanta, which is now the hot bed of music, that's what's gonna last the longest.
    The fact that I contributed to planting our flag and moving music to my city, that's what I'm most proud of.
Read more at: https://www.brainyquote.com/search_results.html?q=ti+</p> -->
</section>
<div class="main-content" ui-view>
</div>
