
<div class="home-wraapper">
  <ul class="rslides">
      <li><img src="/images/1.jpg" alt=""></li>
      <li><img src="/images/2.jpg" alt=""><span id="premote">Who's Next on the Come Up </span><</li>
      <li><img src="/images/3.jpg" alt=""><span id="premote">Premote your brand </span></li>
      <li><img src="/images/4.jpg" alt=""><span id="premote">Local Artest Of The Month</span></li>
  </ul>
</div>
<section class="one">
  <div class="marquee">
    <div class >
      <span>Lets Grow Build And Inspire Togetherdfdfdfdfdfdfdfdf.</span>
      <span>Lets Grow And Build Togather, baby. Like a record, baby.</span>
    </div>
  </div>
  <div class="Section-one">
      <div class="topic">
        <h2 class="swection-one-h"> ARE YOU THE NEXT COME UP!</h2>
        <h2 class="section-one-h2"> ARE YOU THE NEXT COME UP!</h2>
      </div>
      <video id="video-elem3" controls onclick poster"jcole">
        <source src="fonts/cole.mp4"></source>
      </video>
      <div class='box-3'>
        <div class="box-4">
          <h1 class="post-tittle">Understanding Oppertunity</h1>
        <div class="conatainer2">
          <div id="cycle-slideshow2"  data-cycle-fx = "fade"
            data-cycle-speed = "600"
            data-cycle-speed = "3000"
            data-cycle-pager ="#pager">
          <img src="/images/yaBoy.jpg">
          <img src="/images/slide1.jpg">
          <img src="/images/red.jpg">
          <img src="/images/west.jpg">
        </div>
          <div id="pager"></div>
          <img src="/images/kev.jpg" id="prev">
          <img src="/images/m.jpg" id="next">
        </div>

          <div class="img-title">
            <h5 id="img-title">Welcome To Hustle Approach</h5>
            <p  id="pgraph">CEO Jeremy Springer Founder Of Hustle Approach</p>
          </div>
          <p>Hustle Approach was made to give Opportunities to Local Bossiness owners as well as local start ups we want to showcase your handwork to the community. We are interested into individuals who stride to chase dreams or just want to better there bossiness.

Growing up in a small town i would notice  talented and hardworking individuals who chased dreams, built, successful busnasisses but was never giving the opportunity to showcase or promote there skill sets. I fell like I have put myself in position that will allowe local Entrapuners,artist,singers to reach out to the community.
If you feel like this is you give our compition a shot to become local  business owner of the month,localartest of the month or just want to promote your business . Its going to take the community to git involved to allow this wonderful vision to work. Get the respect Locally and gain opportunities globally. Whats you hustle r Approach. <a href="Read More.">Read More</a></p>
          <div class="soc">
            <span class="social">Shear: <img src="/images/book.jpg" class="one-topic1"></span>
            <span class="social1">  <img src="/images/gram.ico" class="one-topic1"></span>
            <span class="social2">  <img src="/images/tweet.png" class="one-topic1"></span>
            <span class="social3">  <img src="/images/email.jpeg" class="one-topic1"></span>

          </div>
        </div>
      </div>
      <div id="video-elem2" >
          <img src="/images/add.jpg" class="one-topic">
          <h2 class="motavation">Vote  </h2>
          <div class="motavation-1">
          </div>
          <img src="/images/add.jpg" class="one-topic">
      </div>
</div>
</section>


<audio src="/music/YFN.mp3" controls="true" ></audio>

<div class="main-content" ui-view>
</div>
