

<div class="home-wraapper">

  <ul class="rslides">
      <li><img src="/images/1.jpg" alt=""></li>
      <li><img src="/images/2.jpg" alt=""><span id="premote">Who's Next on the Come Up </span><</li>
      <li><img src="/images/3.jpg" alt=""><span id="premote">Premote your brand </span></li>
  <a href="#!/about" class="nava"><li><img src="/images/4.jpg" alt=""><span id="premote">Local Artest Of The Month</span></li></a>

  </ul>
</div>
<section class="one">

  <div class="Section-one">
      <div class="topic">
        <h2 class="swection-one-h"> ARE YOU THE NEXT COME UP!</h2>
        <h2 class="section-one-h2"> ARE YOU THE NEXT COME UP!</h2>
      </div>
      <video id="video-elem3" controls onclick poster"jcole">
        <source src="fonts/cole.mp4"></source>
      </video>
      <div class='box-3'>
        <div class="box-4">
          <div class="post-tittle">Understanding Oppertunity</div>
        <div class="conatainer2">
          <div class="home-wraapper2">
            <ul class="rslides2">
                <li><img src="/images/1.jpg" alt="">


                </li>

              <a href="#!/about"><li><img src="/images/v.jpg" alt="">
                  <div class="img-title">
                    <h5 id="img-title">Local Rapper of the Month</h5>
                    <p  id="pgraph">Calling All Local Artest in the 20 West Ga area
                      we are looking for those who stand behind there music can you be our
                      come up of the month.
                      Earn Respect locally become Known Globly</p>
                 </div>
               </li></a>

                <a href="http://adonparis.bigcartel.com/"><li><img src="/images/3.jpg" alt="">
                  <div class="img-title">
                    <h5 id="img-title">Voter For  Artist of the Month. </h5>
                    <p  id="pgraph">See who has true talant Click Here to commint and vote for local Artist of the Month.</p>
                 </div>
               </li></a>

                <li><img src="/images/4.jpg" alt="">
                  <div class="img-title">
                    <h5 id="img-title">WHATS YOUR LOCAL RATING</h5>
                    <p  id="pgraph">Fing out what your comunity think about your work can you earn their respect
                    Whats your rating. Get the respect locally and gain opportunities globally. So what's your Hustler Approach? </p>
                 </div>
                </li>

            </ul>
          </div>


          <div class="soc">
            <span class="social"><img src="/images/book.jpg" class="one-topic1"></span>
            <span class="social1">  <img src="/images/gram.png" class="one-topic1"></span>
                <span class="social1">  <img src="/images/snap.png" class="one-topic1"></span>

            <!-- <span class="social2">  <img src="/images/tweet.png" class="one-topic1"></span>
            <span class="social3">  <img src="/images/email.jpeg" class="one-topic1"></span> -->


          </div>
          <a href="http://www.freecounterstat.com" title="free web counters"><img src="https://counter4.01counter.com/private/freecounterstat.php?c=7e707e24afc206489fa368556a772122" border="0" title="free web counters" alt="free web counters" id="counter"></a>
        </div>
      </div>
      <div id="video-elem2" >
          <img src="/images/add.jpg" class="one-topic">
          <h2 class="motavation">Vote  </h2>
          <div class="motavation-1">
          </div>
          <img src="/images/add.jpg" class="one-topic">
      </div>
</div>
</section>
<!-- <div class="soc">
  <span class="social">    <img src="/images/book.png" class="one-topic1"></span>
  <span class="social1">  <img src="/images/gram.png" class="one-topic1"></span>
  <span class="social2">  <img src="/images/tweet.png" class="one-topic1"></span>
  <span class="social3">  <img src="/images/email.jpeg" class="one-topic1"></span>

</div> -->



<audio src="/music/YFN.mp3" controls="true"  autoplay></audio>

<div class="main-content" ui-view>
</div>
