<section class="parallax-1">
   <div><img src="/images/cam.jpg"> </div>
    <div class="big">Days To Our New Journey</div>
     <div class="countdown-container">
   <table>
     <tr>
     </tr>
     <tr ng-controler="HomeController as home" >
       <td id="time">{{home.s}}</td>
       <td id="time">3</td>
       <td id="time">12</td>
       <td id="time">{{}}</td>
     </tr>
     <tr>
       <td class="a">Days</td>
       <td class="a">Hours</td>
       <td class="a">Minutes</td>
       <td class="a">Secounds</td>
   </table>
 </div>
 <div class="poem">Be with me whenever you can.
Love me for what I am.

Convince me when I am in doubt.
Give me hope when I seem without.

Respect me, show me you care.
Stand by me, always be there.

Forgive me if I should do wrong.
Caress me when nights seem so long.

Assure me, allay my fears.
Be faithful throughout the years.

Trust me as I will trust you.
Encourage my dreams my life through.

Be with me whenever you can.
Love me for what I am.
</div>



  <!-- <div class="parrallax-inner"> -->
      <!-- <section class="title">
        <! <h2>Heading</h2>
        <h3>hjjahaj</h3> -->
      <!-- </section> -->
  <!-- </div> -->
</section>
 <!--End Parallax Section  -->
 <!-- Start Banner Wrapper  -->
 <section class="left-col">
   <!-- <h1> jfjhfjr</h1> -->
 </section>
 <section class="Sidebar">
   <!-- <img src="images/black.JPG"> -->
 </section>
 <section class="parallax-2">
   <div class="parrallax-inner">
       <!-- <section class="title"> -->
         <!-- <h2 class="black4">OUR VISION</h2> -->
         <section class="topic-wrap">
           <!-- <img src="/images/cam.jpg"> -->
         <!-- <a href="#!/about"><h2 class="black"></h2></a> --> <p class="top"></p>
         <!-- <h2 class="black4">OUR VISION</h2> -->
       </section>
           <!-- <video id="video-elem" preload="auto" autoplay="true" loop="loop" poster"jcole">
              <source src="fonts/cole.mp4"> -->
           <!-- </video> -->
         <!-- </div> -->
           <!-- What is the process what are the struggles.We breakdown reallife stories and use them
           for vaulble growth.</p> -->

         <!-- <h2 class="black6">CREATE OPPORTUNITY</h2> -->


         <!-- <h3>hjjahaj</h3> -->
       <!-- </section> -->
   </div>
 </section>
 <section class="parallax-3">
   <div class="parrallax-inner">
       <!-- <section class="title">
         <!- <h3>hjjahaj</h3> -->
       <!-- </section>  -->
   </div>
 </section>
 <!-- <audio src="music/key.mp3" autoplay>


 </audio> -->
 <!--start banner wrapper  -->
    <!-- <div id="banner-wrapper">
      <h1>Full widtg tittle section</h1>
      <section class="one-third">
        <img src="dff">
      </section>
      <!- <h3>Heading title text</h3> -->
      <!-- <section class="one-third">
        <img src="dff">
      </section>
      <! <h3>Heading title text</h3> -->
      <!-- <section class="one-third">
        <img src="dff">
      </section> -->
      <!-- <h3>Heading title text</h3> -->
      <!--end banner   -->
      <!--Footer  -->
      <!-- <footer>
        <p>eat ass </p>
      </footer>
   <div class="main-content" ui-view>
   </div> -->
   <!-- <video id="video-elem" preload="auto" autoplay="true" loop="loop" poster"jcole">
      <source src="fonts/cole.mp4"> -->
   <!-- </video> -->
