

  <div class="nav-right">
    <nav>
        <div class="handle"><img src="/images/menu.png" class ="min"><h3 class="title">HUSTLE APPR<span>O</span>ACH</h3></div>

    <ul>
      <a href="#/" class="name"></a>
      <a href="#/dogs" class="nava"><li>HOME</li></a>
      <a href="#!/about" class="nava"><li>THE COME UP</li></a>
      <!-- <a href="#!/add" class="nava"><li> THE COME UP</li></a> -->
      <!-- <a href="#!/art" class="nava"><li> SPOTLIGHT</li></a> -->
    </ul>
  </nav>
  </div>
  <!-- <div class="advertise">ede</div> -->

<div class="main-content" ui-view>
</div>
<!-- End Of Nav  -->
<a name="about">

  <!-- <header>
   <div class="nav-right">
        <nav>
            <a href="#!/about" id="menu-icon"></a>
            <ul>
                <li><a href="#!/about" class="current">Home</a></li>
                <li><a href="#!/skills" class="skills">Projects</a></li>
                <li><a href="#!/contact" class="">Resume</a></li>
                <li><a href="mailto:Jeremyspringer50@gmail.com">Contact</a></li>
             </ul>
         </nav>
    </div>
</header> -->
